<tapered-rule></tapered-rule>

<property-line name="Armor Class" desc="{{armor_class}}"></property-line>
<property-line name="Hit Points" desc="{{hit_points}} ({{hit_dice}} + {{hp_mod}})"></property-line>
<property-line name="Speed" desc="{{speed}}"></property-line>

<abilities-block [abilityScores]="abilityScores"></abilities-block>

<property-line name="Damage Immunities" desc="poison, psychic"></property-line>
<property-line name="Condition Immunities" desc="blinded, charmed, deafened, exhaustion, frightened, paralyzed, petrified, poisoned"></property-line>
<property-line name="Senses" desc="blindsight 60 ft. (blind beyond this radius), passive Perception 6"></property-line>
<property-line name="Languages" desc="—"></property-line>
<property-line name="Challenge" desc="1 (200 XP)"></property-line>

<tapered-rule></tapered-rule>
