<tapered-rule></tapered-rule>

<property-line name="Armor Class" desc="18 (natural armor)"></property-line>
<property-line name="Hit Points" desc="33 (6d8 + 6)"></property-line>
<property-line name="Speed" desc="25ft"></property-line>

<abilities-block></abilities-block>

<property-line name="Damage Immunities" desc="poison, psychic"></property-line>
<property-line name="Condition Immunities" desc="blinded, charmed, deafened, exhaustion, frightened, paralyzed, petrified, poisoned"></property-line>
<property-line name="Senses" desc="blindsight 60 ft. (blind beyond this radius), passive Perception 6"></property-line>
<property-line name="Languages" desc="—"></property-line>
<property-line name="Challenge" desc="1 (200 XP)"></property-line>

<tapered-rule></tapered-rule>
