<tapered-rule></tapered-rule>

<property-line name="Armor Class" desc="{{armor_class}}"></property-line>
<property-line name="Hit Points" desc="{{hit_points}} ({{hit_dice}} + {{hp_mod}})"></property-line>
<property-line name="Speed" desc="{{speed}}"></property-line>

<abilities-block [abilityScores]="abilityScores"></abilities-block>

<property-line *ngIf="saves" name="Saving Throws" desc={{saves}}></property-line>
<property-line *ngIf="skills" name="Skills" desc={{skills}}></property-line>
<property-line *ngIf="damage_vulnerabilities" name="Damage Vulnerabilities" desc={{damage_vulnerabilities}}></property-line>
<property-line *ngIf="damage_resistances" name="Damage Resistances" desc={{damage_resistances}}></property-line>
<property-line *ngIf="damage_immunities" name="Damage Immunities" desc={{damage_immunities}}></property-line>
<property-line *ngIf="condition_immunities" name="Condition Immunities" desc={{condition_immunities}}></property-line>
<property-line *ngIf="senses" name="Senses" desc={{senses}}></property-line>

<property-line *ngIf="languages" name="Languages" desc={{languages}}></property-line>
<property-line *ngIf="!languages" name="Languages" desc="—"></property-line>

<property-line name="Challenge" desc="{{challenge_rating}} ({{xp}})"></property-line>

<tapered-rule></tapered-rule>
