<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
      rel='stylesheet' type='text/css'>
<div class="bar"></div>
<div id="content-wrap">
  <creature-heading
    [name]="monster.name"
    [size]="monster.size"
    [type]="monster.type"
    [subtype]="monster.subtype"
    [alignment]="monster.alignment"></creature-heading>
  <top-stats
    [armor_class]="monster.armor_class"
    [hit_points]="monster.hit_points"
    [hit_dice]="monster.hit_dice"
    [speed]="monster.speed"
    [abilityScores]="monster.abilityScores"
    [savingThrows]="monster.savingThrows"
    [skillModifiers]="monster.skillModifiers"
    [damage_vulnerabilities]="monster.damage_vulnerabilities"
    [damage_resistances]="monster.damage_resistances"
    [damage_immunities]="monster.damage_immunities"
    [condition_immunities]="monster.condition_immunities"
    [senses]="monster.senses"
    [languages]="monster.languages"
    [challenge_rating]="monster.challenge_rating"></top-stats>

  <property-block *ngFor="let ability of monster.special_abilities">
    <h4>{{ability.name}}.</h4>
    <p>{{ability.desc}}</p>
  </property-block>

  <h3 *ngIf="monster.actions">Actions</h3>
  <property-block *ngFor="let action of monster.actions">
    <h4>{{action.name}}.</h4>
    <p>{{action.desc}}</p>
  </property-block>

  <h3 *ngIf="monster.reactions">Reactions</h3>
  <property-block *ngFor="let action of monster.reactions">
    <h4>{{action.name}}.</h4>
    <p>{{action.desc}}</p>
  </property-block>

  <h3 *ngIf="monster.legendary_actions">Legendary Actions</h3>
  <p *ngIf="monster.legendary_actions">The {{monster.name | lowercase}} can take
    3 legendary actions, choosing from the options below. Only one legendary
    action option can be used at a time and only one at the end of another
    creature's turn. The {{monster.name | lowercase}} regains spent legendary
    actions at the start of its turn.</p>
  <property-line
    *ngFor="let action of monster.legendary_actions"
    [name]="action.name"
    [desc]="action.desc"></property-line>

</div>
<div class="bar"></div>
